html {
  /* background-color: rgba(0, 0, 0, .8); */
  background-color: #3C415E;
}
body {
  display: block;
}

h1 {
    font-family: fantasy;
    color: #dd7c1b;
    font-size: 6em;
    text-align: center;
    margin-top: 50px;
    text-shadow: 5px 5px black;
}
h3 {
  color: #fcdc74;
  text-shadow: 2px 2px #0060ca;
  margin-left: 8%;
}
h4 {
  color: #232931;
  text-shadow: 1px 1px #f73859;
}
ul {
    list-style: none;
    width: 45%;
}
li {
  padding-left: 12px;
}
a {
    color: white;
    background-color: #34699a;
    text-decoration: none;
    margin-top: 4px;
}
#update {
    color: green;
}
#cancelB {
  color: lightyellow;
  background-color: gray;
}
button {
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 4px;

}
.topmost button {
    color:white;
}
.addmovie button {
    color: blue;
}
#delete {
  background: red;
}
input {
  background-color: lightgray;
}
form {
  color: #ffc60b;
}
.tile, .good, .bad {
  margin-left: 8%;
  width: 250px;
}
.topmost {
  text-align: right;
}
#login, #signup {
  box-shadow: 8px 4px 4px black;
  background-color: blue;
  border: 2px solid white;
  border-radius: 2px;
  font-family: Helvetica;
}
img {
  width:60%;
  height:80%;
  margin-left:5px;
}
.moviesDisplay {
  list-style: none;
  margin-left: 10px;
}
.master {
  display: flex;
}
.column {
  width: 40%;
  float: left;
}
.column1 {
  float: right;
  width: 40%;
}
.seed {
  float:left;
}
#mySearch {
  box-shadow: 10px 5px 5px black;
  color: blue;
  font-weight: 700;
}
#search {
  box-shadow: 10px 5px 5px black;
  border: 1px solid black;
  border-radius: 2px;
}
#delete {
  color: black;
}
#source {
  border-radius: 15px;
  box-shadow: 8px 4px 4px #ffe981;
  background-color: #dfe2e2;
}
#pending {
  background: #738598;
  list-style: none;
  width: 55%;
}
